<div fxFlex fxLayout="column">
  <app-favorites fxFlex></app-favorites>

  <cdk-virtual-scroll-viewport itemSize="40" class="box">
    <div *cdkVirtualFor="let market of markets" class="box-item">
      <a mat-icon-button
         matTooltip="Platform'da Goster"
         (click)="platformService.togglePlatform(market)">
        <mat-icon *ngIf="!platformService.checkPlatform(market)">bookmark_border</mat-icon>
        <mat-icon *ngIf="platformService.checkPlatform(market)">bookmark_added</mat-icon>
      </a>
      <a mat-icon-button
         matTooltip="Favorilere Ekle"
         (click)="favoriteService.toggleFavorite(market)">
        <mat-icon *ngIf="favoriteService.checkFavorite(market)">favorite</mat-icon>
        <mat-icon *ngIf="!favoriteService.checkFavorite(market)">favorite_border</mat-icon>
      </a>

      <img height="20" [src]="market.image" [alt]="market.name" />

      {{market.name}} - {{market.current_price}}
    </div>
  </cdk-virtual-scroll-viewport>

  <div fxFlex fxLayout="column"
       *ngIf="object.keys(favorites).length > 0">
    <h4>Kullanici Favorileri</h4>
    <div *ngFor="let username of object.keys(favorites)"
         fxFlex fxLayout="row" fxLayoutGap="10px">
      <strong>{{username}}:</strong>
      <div *ngFor="let market of favorites[username]">
        {{market.name}}
      </div>
    </div>
  </div>
</div>
