<div>
  <mat-toolbar>
    <span fxFlex>Paratica</span>
    <div class="spacer"></div>
    <div>
      <a *ngIf="authService.loggedIn"
         routerLink="/dashboard"
         mat-button>
        Anasayfa
      </a>
      <a *ngIf="authService.isAdmin"
         routerLink="/admin"
         mat-button>
        Admin
      </a>
      <a *ngIf="!authService.loggedIn"
         routerLink="/auth/login"
         mat-button>
        Giris
      </a>
      <button *ngIf="authService.loggedIn"
              (click)="authService.logout()"
              mat-button>
        Cikis
      </button>
    </div>
  </mat-toolbar>

  <ng-container *ngIf="serverStatus; else serverError">
    <router-outlet></router-outlet>
  </ng-container>
  <ng-template #serverError>Backend hatasi</ng-template>

  <ng-template #offlineDialog>
    <h2 matDialogTitle>Internet Baglantiniz Kesildi!</h2>
    <mat-dialog-content>
      <p>Lutfen internet baglantinizi kontrol edip tekrar deneyiniz.</p>
    </mat-dialog-content>
  </ng-template>
</div>
